extends layout 

include mixins/_articleForm

block stylesheets 
    link(rel='stylesheet', href='/styles/article.css')
    link(rel='stylesheet', href='/styles/addArticle.css')

block content
    - 
        const htmlPreview = `\
            <div class="ace">Wow</div>
            <p>WTF</p>\
        `
    h1= title
    if msg 
        .msg= msg
    .container
        .modal
          img(src="")
        +articleForm(article)
        .preview-container 
            h2.preview-title Preview
            .preview
  

block scripts
    //- ace editor
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js" integrity="sha512-WYlXqL7GPpZL2ImDErTX0RMKy5hR17vGW5yY04p9Z+YhYFJcUUFRT31N29euNB4sLNNf/s0XQXZfzg3uKSoOdA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src='/javascript/addArticle.js')