extends layout 

include mixins/_breweryForm

block stylesheets 
    link(rel='stylesheet', href='/styles/addBrewery.css')

block content
    h1= title
    if msg 
        .msg= msg
    .container
        //- the + is to use a mixin
        //- if a beer is passed in (from the editbeer route) then the info of that beer will be used to prepopulate the mixin form
        //- if a beer is not passed in (e.g. from the createbeer route) then beer is null and nothing is passed to the mixin.
        +breweryForm(beer)

block scripts 
    //- note that type="module" is needed here so we can use import statements
    script(type="module" src='/javascript/addBrewery.js')