extends layout 

include mixins/_keyForm

block stylesheets
    link(rel='stylesheet', href='/styles/addKey.css')

block content 
    +keyForm()

block scripts 
    //- custom script file
    script(src="/javascript/addKey.js")