extends layout 

include mixins/_keyForm

block stylesheets
    link(rel='stylesheet', href='/styles/addKey.css')

block content 
    h1.title= title
    +keyForm(triangle_key)

block scripts 
    //- custom script file
    script(src="/javascript/addKey.js")