extends layout 

include mixins/_beerReview

block stylesheets 
    link(rel='stylesheet', href='/styles/beerReview.css')

block content
    if msg 
        .msg= msg 
    form.control-panel(method="POST")
        a.btn.btn-edit(href=`/beer-reviews/${beer.slug}/edit`) Edit
        button.btn.btn-delete(type="submit" formaction=`/api/beer-reviews/${beer._id}/delete`) Delete
    +beerReview(beer)