extends layout 

include mixins/_beerCard

block stylesheets 
    link(rel='stylesheet', href='/styles/beerCard.css')

block content 
    h1= title
    //- pre=h.dump(schema)
    form(action="/reviews" method="GET")
        .match-area 
            label(for="match-criteria") Match
            select(name="match-criteria" class="" id="match-criteria")
                option(value="bjcp_style") Beer Style
                option(value="brewery") Brewery
            select(name="match-value" id="match-value")
                option(value="Fruited American Sour" ) Fruited American Sour
                option(value="other" ) Other
        .sort-area
            label(for="sort-criteria") Sort
            select(name="sort-criteria" class="" id="sort-criteria")
                for [key, val] of Object.entries(schema.attributes)
                    option(value=`${key}`)= val.name
            select(name="sort-value" id="sort-value")
                option(value="1" ) Ascending
                option(value="-1" ) Descending
        button(type="button" id="sort-btn") Sort
    .beer-reviews
        each beer in beers 
            +beerCard(beer)

block scripts 
    script(src='/javascript/beerReviews.js' type="module")