extends layout 

include mixins/_reviewBody

block stylesheets 
    link(rel='stylesheet', href='/styles/beerReview.css')

block content
    if msg 
        .msg= msg 
    form.control-panel(method="POST")
        a.btn.btn-edit(href=`/beer-reviews/${beer.slug}/edit`) Edit
        button.btn.btn-delete(type="submit" formaction=`/api/beer-reviews/${beer._id}/delete`) Delete
    +reviewBody(beer)

block scripts 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    //- required to defer chart.js animation until scrolled into view
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred@2/dist/chartjs-plugin-deferred.min.js")
    script(src='/javascript/beerReview.js')

