extends layout 

block stylesheets 
    link(rel='stylesheet', href='/styles/breweries.css')

block content 
    h1= title
    .map 
        .autocomplete 
            i(class="fa-sharp fa-solid fa-magnifying-glass")
            input.autocomplete__input(type="text" placeholder="Find breweries nearby..." name="geolocate")
            button(type="button" id="user-location-btn" data-lat=null data-lng=null) 
                i(class="fa-solid fa-location-crosshairs")
        #map 
            p Loading Map...

block scripts 
    script(src='/javascript/breweries.js' type="module")