extends layout 

include mixins/_beerForm

block stylesheets 
    link(rel='stylesheet', href='/styles/addBeer.css')

block content
    h1= title
    if msg 
        .msg= msg
    .container
        //- the + is to use a mixin
        //- if a beer is passed in (from the editbeer route) then the info of that beer will be used to prepopulate the mixin form
        //- if a beer is not passed in (e.g. from the createbeer route) then beer is null and nothing is passed to the mixin.
        +beerForm(beer)

    script. 
        const attr_inputs = document.querySelectorAll('.attr-input');
        const tags_input = document.querySelector('#tags-input');
        let currentTags = tags_input.value;

        function addTags() {
            if (this.id != 'clarity' && this.value > 2) {
                currentTags += currentTags == "" ? this.dataset.label : `, ${this.dataset.label}`;
            }
            else if (this.id === 'clarity' && this.value <= 2) {
                currentTags += currentTags == "" ? this.dataset.label : `, ${this.dataset.label}`;
            }
            tags_input.value = currentTags;
        }

        attr_inputs.forEach(input => input.addEventListener('change', addTags));