extends layout 

include mixins/_beerCard

block stylesheets 
    link(rel='stylesheet', href='/styles/beerCard.css')

block hero
    .hero__text 
        h1 AMATEUR 
            span.alchemy ALCHEMY
        p The search for liquid gold
    .hero__img-container
        img(src='/images/beers.png') 

block content 
    h1.content--title Beer Reviews
    .beer-reviews
        each beer in beers 
            +beerCard(beer)