doctype html
html
  head
    title= `${title}`
    //- font awesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer")
    //- google fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet")
    //- stylesheets
    link(rel='stylesheet', href='/styles/main.css')
    block stylesheets
    //- favicon
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header
        nav.nav
          .nav__section.nav__section--logo
            li.nav__item 
              .logo 
                a.nav__link(href="/") AMATEUR ALCHEMY
          .nav__section.nav__section--pages 
            li.nav__item 
              a.nav__link(href="/beer-reviews") Beer Reviews
            li.nav__item 
              a.nav__link(href="#") Experiments
            li.nav__item 
              a.nav__link(href="#") Tools
            li.nav__item 
              a.nav__link(href="#") About
          .nav__section.nav__section--search 
            .search
              input.search__input(type="text" placeholder="Search..." name="search")
              .search__results
          .nav__section.nav__section--user 
            .dropdown
              button.halo 
                img.profile-img(src="/images/profile.jpg")
              ul.dropdown-menu 
                a(href="#")
                  li.dropdown-menu__item 
                    i.fa-solid.fa-user
                    span Dashboard
                    i.fa-solid.fa-chevron-right
                a(href="/add-article")
                  li.dropdown-menu__item 
                    i.fa-solid.fa-plus
                    span New Article 
                    i.fa-solid.fa-chevron-right
                a(href="/add-beer")
                  li.dropdown-menu__item 
                    i.fa-regular.fa-square-plus
                    span New Beer Review 
                    i.fa-solid.fa-chevron-right
                a(href="/add-brewery")
                  li.dropdown-menu__item 
                    i.fa-solid.fa-house-flag
                    span New Brewery 
                    i.fa-solid.fa-chevron-right
                a(href="/logout")
                  li.dropdown-menu__item 
                    i.fa-solid.fa-arrow-right-from-bracket
                    span Logout
                    i.fa-solid.fa-chevron-right


    .flash-container
      block messages
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;

    .hero 
      block hero
    
    .content
      block content

    block footer
      .footer 

    //- Google maps
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)

    //- our global javascript
    script(src='/javascript/main.js')
    block scripts
      
