extends layout 

include mixins/_loginForm

block stylesheets 
    link(rel='stylesheet', href='/styles/login.css')

block content 
    if body 
      +loginForm(body)
    else
      +loginForm()

block scripts 
  script(src="/javascript/login.js")
