extends layout 

include mixins/_loginForm

block stylesheets 
    link(rel='stylesheet', href='/styles/login.css')

block content 
    +loginForm()

block scripts 
  script(src="/javascript/login.js")
