extends layout 

include mixins/_registerForm

block stylesheets 
    link(rel='stylesheet', href='/styles/register.css')

block content 
  //- check if validation error has re-rendered the form with previous data
  if body
    +registerForm(body)
  else 
    +registerForm()

block scripts 
  //- custom script file
  script(src="/javascript/register.js")