extends layout 

include mixins/_registerForm

block stylesheets 
    link(rel='stylesheet', href='/styles/register.css')

block content 
  //- h1.content--title Register
  +registerForm()

block scripts 
  //- custom script file
  script(src="/javascript/register.js")