mixin beerCard(beer)
    .card.beer-card
        .beer-card__image 
            if beer.photo
                img(src=`/uploads/${beer.photo}` alt=beer.name)
            else 
                img(src="/images/beers.png", alt="mystery beer")
        .beer-card__content
            h2= beer.name 
            span= beer.brewery