mixin loginForm(form = {})
  .form-container
    h2 LOGIN
    form.form(action="/login" method="POST")
      
      .input-container
        label(for="email") Email Address
        .icon
          <i class="fa-regular fa-envelope"></i>
        input(type="email" name="email" placeholder="Email" required autocomplete="email" value=form.email)
      
      .input-container
        label(for="password") Password
        .icon
          <i class="fa-solid fa-lock"></i>
        input(type="password" name="password" placeholder="Password" required autocomplete="new-password" value=form.password)
        <i class="eye-icon fa-solid fa-eye" data-active="false"></i>
      
      button#login-btn(type="submit") Login