
input[type=file]::file-selector-button {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

.form-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 70vw;
    max-width: 80%;
    padding-top: 3rem;
    /* justify-content: center; */
}

.form-card__section {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    background-color: rgb(255 255 255 / 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
}

.form-card__section--heading {
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: black;
    font-weight: bold;
}

textarea {
    min-width: 500px;
    min-height: 200px;
}

#tagline {
    min-height: 100px;
}

#tags-input {
    min-height: 100px;
}

.form-card input[type=submit] {
    background-color: rgb(var(--clr-accent));
}

.form-card input[type=submit]:hover {
    background-color: rgb(var(--clr-accent) / 0.7);
}

.img-gallery {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.img-gallery__row {
    display: grid;
    grid-template-columns: 100px 1fr auto auto;
    gap: 1rem;
    max-height: 100px;
    align-items: center;
    transition: background-color 0.06s ease-in-out;
}

.img-gallery__row:hover {
    background-color: rgb(255 255 255 / 0.1);
}

.img-gallery__row.locked {
    background-color: rgb(255 0 0 / 0.1);
}

.gallery-img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding: 2px;
}

.gallery-url {

}

button {
    border-radius: 0.3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.05s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

.gallery-lock-btn {
    padding: 0.6rem;
    font-size: 1.1rem;
}

.gallery-copy-btn {
    padding: 0.6rem;
    font-size: 1.1rem;
    margin-right: 1rem;
}