/******** BEER FORM ********/
.container {
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
}

.form-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "main specs attrs"
        "wide wide attrs"
        "wide wide tags"
        "btn btn btn";
    gap: 1.5rem;
    max-width: 80%;
    /* margin-inline: auto; */
    padding-top: 3rem;
    /* justify-content: center; */
}

.form-card .comment {
    margin-bottom: 1rem;
}

.form-card label {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.search-area {
    position: relative;
}

.search-area__results {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
}

.search-area__results > * {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 1px solid grey;
    background: rgb(255 255 255 / 0.9);
    color: black;
    cursor: pointer;
}

.form-card input,
.form-card select,
.form-card textarea {
    margin-bottom: 1rem;
    border: 1px solid rgb(0, 0, 5);
    background-color: inherit;
    color: white;
}

.form-card select {
    color: rgb(158, 158, 158);
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.form-card select > option {
    background-color: rgb(34, 34, 34);
    color: white;
}

.form-card__section {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255 / 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
}

.form-card__section--heading {
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: black;
    font-weight: bold;
}

.form-card__section.wide {
    grid-area: wide;
}

.form-card__section.attrs {
    grid-area: attrs;
}

.form-card__section.specs {
    grid-area: specs;
}

.form-card__section.tags {
    grid-area: tags;
    min-height: 400px;
}

.form-card__section.tags textarea {
    height: 100%;
}

.attr-selection {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.form-card textarea {
    min-height: 5rem;
    background-color: transparent;
}

.form-card input {
    background-color: transparent;
}

.form-card input[type=submit] {
    grid-area: btn;
    background-color: rgb(var(--clr-accent));
}

.form-card input[type=submit]:hover {
    background-color: rgb(var(--clr-accent) / 0.7);
}

.form-card .score-input {
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    width: 50px;
    padding: 0.3rem 0.6rem;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(5, minmax(40px, 1fr));
    gap: 0.5rem;
    max-height: 100px;
    justify-items: center;
    margin-top: -3px;
    margin-bottom: 1px;
}

.gallery-img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding: 2px;
}

