.content {
  max-width: 90%;
  width: min(90%, 500px);
  margin: auto;
}

h1.title {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-group:nth-child(2n) {
  background-color: rgb(255 255 255 / 0.03);
}

.headings {
  background-color: rgb(var(--clr-bg-darker));
  font-weight: bold;
  font-size: 1.2rem;
}

.form-group.headings > * {
  padding: 1rem;
  text-align: center;
}

.form-group > *:nth-child(1) {
  border-right: 2px solid rgb(255 255 255 / 0.1);
}

.input-group {
  position: relative;
}

input.num,
input.letter {
  border-radius: 0;
  border: none;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

input.num:focus,
input.letter:focus {
  outline: none;
}

.button {
  background-color: rgb(var(--clr-accent));
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(var(--clr-accent) / 0.7);
}

input[type=button].button {
  background-color: rgb(var(--clr-accent-2));
  margin-bottom: 2rem;
}

input[type=button].button:hover {
  background-color: rgb(var(--clr-accent-2) / 0.7);
}

button.delete-item-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0.3em;
  position: absolute;
  background-color: transparent;
  color: rgb(var(--clr-text) / 0.5);
  top: 50%;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  text-align: center;
  border: 1px solid rgb(255 255 255 / 0.5);
  transition: all 0.15s ease-in-out;
}

button.delete-item-btn:hover {
  background-color: rgb(var(--clr-accent) / 0.7);
  color: black;
  border: none;
  font-weight: bold;
}

