.content {
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.title {
  font-size: clamp(2rem, 3.5vw, 6rem);
  color: rgb(var(--clr-accent));
  text-align: center;
}

h2.subtitle {
  font-size: clamp(0.6rem, 2vw, 2rem);
  display: flex;
}

@media (max-width: 480px) {
  h2.subtitle {
      flex-direction: column;
      align-items: center;
      gap: 0.35rem;
  }

  .url {
    font-size: clamp(0.8rem, 2vw, 2rem);
  }
}

#qr-code {
  width: min(90vw, 850px);
  padding: 3rem 0 2rem 0;
}

.url {
  color: rgb(var(--clr-accent));
  padding-inline: 0.5rem;
}
