@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
}

/* utility class for all outputs of textareas */
.textbox {
    white-space: pre-wrap;
    line-height: 1.3rem;
    font-size: 0.95rem;
}

/******** Control Panel *********/
.control-panel {
    display: flex;
    gap: 1rem;
    margin: 0 0 1rem 0;
    justify-content: flex-end;
}

.btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.4em 1em;
    font-size: 1.2rem;
    opacity: 0.75;
    transition: opacity 200ms ease-in-out;
}

.btn:hover {
    opacity: 1;
}

.btn-edit {
    background-color: rgb(255 165 0);
    color: black;
}

.btn-delete {
    background-color: rgb(170 0 0);
    color: white;
}


/********* Main Content *************/

.review-container {
    display: grid;
    gap: 0 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    font-family: "Inter-Regular";
}

.identity {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    margin-bottom: 1.5rem;
}

.identity .name {
    font-size: 3rem;
    color: rgb(var(--clr-accent));
    font-weight: bold;
    line-height: 3.1rem;
}

.brewery {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.style {
    font-weight: normal;
    font-size: 1rem;
}

.date {
    font-size: 0.8rem;
    color: rgb(255 255 255 / 0.7);
}

/*********** SCORE GRAPHIC ***************/

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.outer-circle {
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid rgb(255 255 255 / 0.2);
    width: 65%;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.inner-circle {
    background-color: rgb(var(--clr-bg));
    border: 1px solid rgb(255 255 255 / 0.2);
    z-index: 10;
    border-radius: 50%;
    width: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    transform-origin: 0 0;
    top: 10%;
    left: 10%;
}

.segment {
    position: absolute;
    background-color: rgb(var(--clr-accent));
    width: 55%;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
}

.segment-se {
    --skew: 90deg;
    transform: skew(var(--skew));
}

.segment-sw {
    --skew: 90deg;
    transform: rotate(90deg) skew(var(--skew));
}

.segment-nw {
    --skew: 90deg;
    transform: rotate(180deg) skew(var(--skew));
}

.segment-ne {
    --skew: 90deg;
    transform: rotate(270deg) skew(var(--skew));
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-right: 1rem; */
    z-index: 20;
}

/*********** REVIEW SECTION ***************/

.ratings {
    grid-column: 2;
    grid-row: 1 / -2;
    display: grid;
    /* margin-left: 4rem; */
    align-content: center;
}

.ratings__section {
    padding: 1.5rem 0;
}

.ratings__section:not(:last-child) {
    border-bottom: 1px solid rgb(255 255 255 / 0.2);
}

.brewer-notes {
    padding-top: 1.5rem;
    margin-bottom: 3.5rem;
}

.brewer-notes__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    /* border-bottom: 2px dotted rgb(var(--clr-accent) / 0.6); */
    padding-bottom: 0.5rem;
}

.brewer-notes__title.tasting {
    margin-bottom: 0;
    padding-bottom: 0rem;
}

.brewer-notes__content {
    border-bottom: 2px dotted rgb(var(--clr-accent) / 0.6);
    padding-bottom: 2.5rem;
}

.ratings__section--title {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
    align-items: baseline;
}

.ratings__section--subtitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.ratings__section--score {
    font-weight: lighter;
    color:rgb(255 255 255 / 0.7)
}

/*********** IMAGE SECTION ***************/

.review-img-container {
    /* position: relative; */
    box-shadow: 0px 0px 10px rgb(0 0 0 / 1);
    grid-row: 2;
    margin-bottom: 2rem;
}

.showcase-img {
    max-height: 700px;
    object-fit: cover;
}

.hide {
    display: none !important;
}

.showcase-vid {
    display: block;
    min-width: 100%;
    max-height: 800px;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(5, minmax(40px, 1fr));
    gap: 0.5rem;
    max-height: 100px;
    justify-items: center;
    margin-top: -3px;
    margin-bottom: 1px;
    padding: 2px;
}

.gallery-img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.gallery-img.play {
    padding: 1rem;
}

.gallery-img.active {
    border: 2px solid rgb(var(--clr-accent) / 0.75);
}

.aux-specs {
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    background-color: rgb(0 0 0 / 0.5);
    padding: 0 0.5rem;
    /* margin-top: -5px; */
}

.aux-specs__spec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.aux-specs__spec:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 12.5%;
    right: 0;
    width: 1px;
    height: 75%;
    background-color: rgb(255 255 255 / 0.2);
}

.aux-specs__spec--title-container {
    display: flex;
    flex-direction: column;
}

.aux-specs__spec--title {
    color: rgb(var(--clr-accent));
    font-weight: bold;
}

.aux-specs__spec--subtitle {
    color: rgb(var(--clr-accent));
    font-weight: bold;
    font-size: 0.5rem;
}

.tags-container {
    display: flex;
    flex-direction: column;
}

.tags-container__title {
    margin-bottom: 1rem;
}

.tags-container__tags {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.tags-container__tags--tag {
    border-radius: 1rem;
    padding: 0.4em 1em;
    background-image: var(--accent-gradient);
    background-clip: padding-box;
    border: 2px solid rgb(255 255 255 / 0.1);
    background-size: 250% 100%;
    opacity: 0.8;
    color: white;
    background-position: left;
    /* transition: background-position 750ms ease-in-out; */
    cursor: pointer;
    font-size: 0.9rem;
    animation: bg-gradient-right 20s ease-in-out infinite alternate;
}

.tags-container__tags--tag:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/* ***********  RADAR CHART  *********** */

.radar-container {
    position: relative;
}

#radar {
    grid-row: span 2 / -1;
}

