/* RESETS */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    margin-bottom: 1rem;
}

button, input[type="submit"] {
    cursor: pointer;
}

img {
    max-width: 100%;
    width: 100%;
}

input, textarea {
    background-color: inherit;
    color: inherit;
    padding: 0.5rem 0.5rem;
    margin: 0;
    border-radius: 0.4rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');


/* GLOBAL STYLES */

:root {
    --clr-text: 255 255 255; 
    --clr-accent: 255 61 106; /* pink */
    --clr-accent-2: 63 94 251; /* purple */
    --clr-accent-3: 0 255 136; /* green */
    --clr-article-accent: 47 99 124; /* blueish */
    --clr-article-accent-2: 0 152 121; /* greenish */
    --accent-gradient: linear-gradient(90deg, rgb(var(--clr-accent)) 0%, rgb(var(--clr-accent-2)) 50%, rgb(var(--clr-accent-3)) 100%);
    --gold-gradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

a.custom-link > * {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 350% 100%;
    color: transparent;
    font-weight: bold;
    background-position: right;
    display: inline-block !important;
    width: auto;
    animation: bg-gradient-left 20s ease-in-out infinite alternate;
}

@keyframes bg-gradient-right {
    100% {
        background-position: right;
    }
}

@keyframes bg-gradient-left {
    100% {
        background-position: left;
    }
}

/*  HOME STYLES  */

body {
    background-image: linear-gradient(to right, #0f1416 0%,#162427 50%, #12212c);
    background-repeat: no-repeat;
    background-size: 400%;
    animation: body-bg-animation 5s infinite alternate;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

@keyframes body-bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    width: 100vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-inline: 2rem;
    /* margin-bottom: 2rem; */
    background-color: rgb(0 0 0 / 0.3);
}

.nav__section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav__section.nav__section--pages {

}

.nav__section.nav__section--search {
    width: 100%;
    padding-inline: 3rem;
}

.search {
    width: 100%;
}

.search__input {
    width: 100%;
    max-width: 400px;
    background-color: transparent;
    border-radius: 50rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

/* PROFILE PIC DROPDOWN */

.nav__section.nav__section--user {
    align-self: end;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.dropdown-menu .dropdown-menu__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.8rem;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem;
}

.dropdown-menu .dropdown-menu__item:hover {
    background-color: rgb(255 255 255 / 0.1);
}

.nav__section.nav__section--user .halo {
    border-radius: 50%;
    position: relative;
    background-image: var(--gold-gradient);
    width: 100px;
    height: 100px;
    transition: 0.15s ease-in-out;
    margin: 1rem;
}

.halo .profile-img {
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    top: 0;
    left: 0;
    padding: 0.5rem;
}

.halo:hover {
    box-shadow: 4px 4px 16px rgb(0 0 0 / 0.5);
    transform: scale(1.05);
}

.nav__section.nav__section--user .dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    transform: translateY(-10%);
    /* width: 200%; */
    left: 0;
    /* transform: translateX(-10%); */
    transition: all 0.15s ease-in-out;
    opacity: 0;
    background-color:#141d24;
    border-radius: 0.4rem;
    pointer-events: none;
}


/* HERO SECTION */

.hero {
    position: relative;
    display: flex;
    margin-bottom: 3rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    margin-right: 3rem;
}

.hero__text h1 {
    font-size: 5rem;
    letter-spacing: 0.3rem;
}

@font-face {
    font-family: 'MedievalSharp-Regular';
    src: url('../fonts/MedievalSharp-Regular.ttf');
}

@font-face {
    font-family: 'UnifrakturCook-Bold';
    src: url('../fonts/UnifrakturCook-Bold.ttf');
}

.alchemy {
    font-family: 'UnifrakturCook-Bold';
    font-weight: normal;
}

.hero__text p {
    font-size: 2rem;
}

.hero__img-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    aspect-ratio: 1;
    max-height: 600px;
    flex-shrink: 1;
}

.hero__img-container img {
    object-fit: cover;
    width: auto;
}

.flash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    gap: 0.5rem;
    z-index: 200;
}

.flash {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.flash.hide {
    opacity: 0;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.content--title {
    font-size: 2.3rem;
    padding-left: 1.5rem;
}

.beer-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 1300px;
}

.footer {
    margin-top: 3rem;
}