.content {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: min(90%, 500px);
}

h1 {
  margin-bottom: 2rem;
  color: rgb(var(--clr-accent));
}

h2 {
  margin-bottom: 1rem;
}

.hl {
  color: rgb(var(--clr-accent));
  font-weight: bold;
}

.larger {
  font-weight: bold;
  font-size: 1.1rem;
}

.ul {
  text-decoration: underline;
}

a.inline {
  color: rgb(var(--clr-accent));
  text-decoration: underline;
  font-weight: bold;
}

/* Checkmark Animation ******************/
/* https://codepen.io/cibgraphics/pen/PzpPVe */

.cls-1 {
  fill:none;
  stroke:#231f20;
  stroke-miterlimit:10;
  stroke-width:5px;
}

svg {
  margin: 2rem auto;
  width: 30%;
  height: 30%;
  display: block;
}

.cls-1 {
  stroke: green;
}

.circle {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: 2.5s circleDraw forwards;
}

.checkmark {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: 0.75s checkmarkDraw forwards;
  animation-delay: 1s;
}

@keyframes circleDraw {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmarkDraw {
  from {
    stroke-dashoffset: 150;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Error checkmark **********/
/* https://codepen.io/codeasashu/pen/wmaXEm */

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke: red;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-error {
  border-radius: 50%;
  display: block;
  stroke-width: 3;
  stroke: red;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px red;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
      transform: none;
  }
  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30% transparent;
  }
}

/* SOLO CUPS ************/
/* https://codepen.io/a413x/pen/OJbwoxz */

.app {
  position: relative;
  margin: 4.5rem 0 3.5rem 0;
}

#cup1, #cup2, #cup3{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cup {
  transition: all 0.6s ease-in-out;
}

.cup-label {
  color: white;
  font-size: clamp(1rem, 7vw, 2.8rem);
  position: absolute;
  font-weight: bold;
}

.unique-marker {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  width: 10%;
  filter: drop-shadow(0 0 15px rgb(255 255 255 / 0.75));
  cursor: pointer;
}

svg.cup-svg {
  display: block;
  height: auto;
  width: auto;
  margin: 0;
}

.cup-highlight:hover{
  filter: drop-shadow(0 0 5px gold);
}

ellipse, polyline{
  fill: red;
  stroke: white;
}
.flare {
  fill: white;
  stroke: none;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.recipe-table {
  grid-template-columns: auto 1fr;
}

.cell.headings {
  background-color: rgb(var(--clr-bg-darker));
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.headings > .cell {
  padding-inline: 1rem;
  min-height: 3rem;
}

.cell {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 0.5rem;
  border: 1px solid rgb(255 255 255 / 0.1);
}

.cell.hl {
  background-color: rgb(255 255 255 / 0.03);
}