.content {
  margin-inline: auto;
}

section.title-container {
  min-height: 88vh;
}

section.results-section {
  min-height: 100vh;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.title {
  font-size: 6rem;
  text-align: center;
}

h2.subtitle {
  font-size: 3.5rem;
  color: rgb(var(--clr-accent));
}

section.results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3.section-title {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

h4.big {
  font-size: 10rem;
}

.results-container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  width: 100%;
  max-width: 900px;
}

.padded {
  padding-inline: 3rem;
}

.larger-text {
  font-size: 1.5em;
}

.smaller-text {
  font-size: 1em;
}

.green {
  color: rgba(16, 77, 16, 0.75);
  font-weight: bold;
}

.red {
  color: rgba(133, 10, 10, 1);
  font-weight: bold;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
  margin: 2rem 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon-container img {
  width: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

/************* RANGE INPUT STYLING */
/* Copied from addTriangleTest.css */

#comparison-container {
  margin-bottom: 10rem;
}

input[type=range] {
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

/*Chrome*/
input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(var(--clr-accent) / 0.7);
  overflow: hidden;
  width: 100%;
  height: 25px;
  border-radius: 20rem;
}

input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  /* background: rgb(var(--clr-bg-darker)); */
  background: white;
  box-shadow: -200px 0 0 200px #57c2a9;
  cursor: pointer;
  height: 25px;
  width: 5px;
  /* border: 4px solid rgb(var(--clr-bg) / 0.7); */
}

/* firefox */
input[type='range']::-moz-range-thumb {
  background: white;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #57c2a9;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: 4px solid rgb(var(--clr-bg) / 0.7);
}

input[type="range"]::-moz-range-track {
  appearance: none;
}

input[type="range"]::-moz-range-progress {
  background-color: #57c2a9;
  height: 20px
}

input[type="range"]::-ms-fill-upper {
  appearance: none;
}

input[type="range"]::-ms-fill-lower {
  background-color: #57c2a9;
}

.range-input {
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: min(700px, 90%);
  min-width: min(90%, 700px);
}

.range-input:nth-child(2n) {
  background-color: rgb(255 255 255 / 0.05);
}

.range-input:nth-child(2n-1) {
  background-color: rgb(255 255 255 / 0.02);
}

.range-input__question-subtitle {
  margin-bottom: 0.8rem;
  font-size: 1.3em;
}

.range-input__range {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  gap: 0.8rem;
}

.range-input__beer-label {
  display: block;
  color: rgb(255 255 255 / 0.5);
  font-size: 0.9em;
  max-width: 100px;
}

/* left label */
.range-input__beer-label:nth-child(1) {
  justify-self: end;
  text-align: end;
}

/* right label */
.range-input__beer-label:nth-child(3) {
  justify-self: start;
  text-align: start;
}

.range-input__subheading {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.1em;
}

/************ TABLE STYLING */

#flaws-table {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.row {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  font-weight: normal;
  font-size: 1rem;
}

.row:nth-child(2n+1) {
  background-color: rgb(255 255 255 / 0.03);
}

.row.headings {
  background-color: rgb(var(--clr-bg-darker));
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.headings > .cell {
  padding-inline: 1rem;
  min-height: 4rem;
}

.cell {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:nth-child(1) {
  border-right: 2px solid rgb(255 255 255 / 0.1);
  font-weight: bold;
}

.cell:nth-child(2) {
  font-size: 1.2rem;
}

.cell:nth-child(3) {
  border-left: 2px solid rgb(255 255 255 / 0.1);
  font-size: 1.2rem;
}

/************** MEDIA QUERIES */

@media (max-width:480px) {
  .content {
    width: 100%;
  }

  h1.title {
    font-size: 3rem;
  }

  h2.subtitle {
    font-size: 2rem;
  }

  h3.section-title {
    font-size: 2rem;
  }

  h4.big {
    font-size: 5rem;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 100%;
  }
  
  #flaws-table {
    max-width: 95%;
    margin-inline: auto;
  }

  .cell.heading {
    min-height: 3rem;
  }

  .cell {
    font-size: 0.75em !important;
    min-height: 2.5rem;
  }
}


