.content {
  margin-inline: auto;
}

section.title-container {
  min-height: 88vh;
}

section.results-section {
  min-height: 100vh;
  border: 1px solid green;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.title {
  font-size: 6rem;
  text-align: center;
}

h2.subtitle {
  font-size: 3.5rem;
}

section.results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3.section-title {
  font-size: 3rem;
}

h4.big {
  font-size: 10rem;
}

.results-container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  width: 100%;
  max-width: 900px;
}

.padded {
  padding-inline: 3rem;
}

.larger-text {
  font-size: 1.3em;
}

.smaller-text {
  font-size: 0.8em;
}

.green {
  color: rgba(16, 77, 16, 0.75);
  font-weight: bold;
}

.red {
  color: rgba(133, 10, 10, 1);
  font-weight: bold;
}

#flaws-table {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.row {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  font-weight: normal;
  font-size: 1rem;
}

.row:nth-child(2n+1) {
  background-color: rgb(255 255 255 / 0.03);
}

.row.headings {
  background-color: rgb(var(--clr-bg-darker));
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.headings > .cell {
  padding-inline: 1rem;
  min-height: 4rem;
}

.cell {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:nth-child(1) {
  border-right: 2px solid rgb(255 255 255 / 0.1);
  font-weight: bold;
}

.cell:nth-child(2) {
  font-size: 1.2rem;
}

.cell:nth-child(3) {
  border-left: 2px solid rgb(255 255 255 / 0.1);
  font-size: 1.2rem;
}

@media (max-width:480px) {
  .content {
    width: 100%;
  }

  h1.title {
    font-size: 3rem;
  }

  h2.subtitle {
    font-size: 2rem;
  }

  h3.section-title {
    font-size: 2rem;
  }

  h4.big {
    font-size: 5rem;
  }

  .chart-wrapper {
    width: 100%;
    max-width: 100%;
  }
  
  #flaws-table {
    max-width: 95%;
    margin-inline: auto;
  }

  .cell.heading {
    min-height: 3rem;
  }

  .cell {
    font-size: 0.75em !important;
    min-height: 2.5rem;
  }
}


